@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
   display: flex;
   justify-content: center;
   align-items: center;
    min-height: 100vh;
    background: url('../assets/AdobeStock_620901550.jpeg') no-repeat center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;


}

.container
{
    position: relative;
    width: calc(100% - 100px);
    max-height: calc(100vh - 280px);
    max-height: 500px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px  rgba(0,0,0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 300px;
 
}

header
{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0,0,0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
   
}

header .logo
{
    color: #020242;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
   
    transition: 0.3s;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin: 0 10px;
}

header ul li a
{
    color: rgb(2, 24, 101);
    text-decoration: none;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 25px;
}

header ul li a:hover,
header ul li a.active
{
    background: #fff;
   box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
}

.content
{
    transform: translateX(-300px);
    max-width: 100%;
    padding: 50px;
    display: inline-block;
    /* box-shadow: 0 15px 30px rgba(0,0,0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5); */
    padding: 5em;
   
}

.content h2
{
    color: #020242;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
}

.content p
{
    color: black;
    font-size: 1.2em;
   
}

.content a
{
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
}

.imgBx img
{
    max-width: 400px;
    animation: animate 5s linear infinite;
    border-radius: 20px;
    /* box-shadow: 0 15px 35px rgba(0,0,0, 0.1); */
    transition: 0.5s;
}

@keyframes animate
{
    0%
    {
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.2);
    }
    100%
    {
        transform: scale(1);
    }
}
/* 
.rwd-table {
    margin: auto;
    min-width: 300px;
    max-width: 100%;
    border-collapse: collapse;
}

.rwd-table tr:first-child {
    border-top: none;
    background: #428bca;
    color: #fff;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
    background-color: #ebf3f9;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    margin-top: .5em;
}

.rwd-table td:last-child {
    margin-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 120px;
    display: inline-block;
    color: #000;
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table {
    color: #333;
    border-radius: .4em;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
    padding: .5em 1em;
}

@media screen and (max-width: 601px) {
    .rwd-table tr:nth-child(2) {
        border-top: none;
    }
}

@media screen and (min-width: 600px) {
    .rwd-table tr:hover:not(:first-child) {
        background-color: #d8e7f3;
    }
    .rwd-table td:before {
        display: none;
    }
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}
/* THE END OF THE IMPORTANT STUFF */
/* Basic Styling */
/* 
body {
    background-color: #111D24;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 2.4em;
    color: #f2f2f2;
}

.container {
    display: block;
    text-align: center;
}

h3:before {
    content: "\25C0";
    position: absolute;
    left: -50px;
    -webkit-animation: leftRight 2s linear infinite;
    animation: leftRight 2s linear infinite;
}

h3:after {
    content: "\25b6";
    position: absolute;
    right: -50px;
    -webkit-animation: leftRight 2s linear infinite reverse;
    animation: leftRight 2s linear infinite reverse;
}

@-webkit-keyframes leftRight {
    0% {
        -webkit-transform: translateX(0)
    }
    25% {
        -webkit-transform: translateX(-10px)
    }
    75% {
        -webkit-transform: translateX(10px)
    }
    100% {
        -webkit-transform: translateX(0)
    }
}

@keyframes leftRight {
    0% {
        transform: translateX(0)
    }
    25% {
        transform: translateX(-10px)
    }
    75% {
        transform: translateX(10px)
    }
    100% {
        transform: translateX(0)
    }
} */ 